.alert {
    color: rgb(185, 55, 35);
    background-color: rgb(245, 220, 215);
    border: 1px solid rgb(245, 175, 180);
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin: 0px 4px;
}
